/*********************************
* Description: Primary style sheet
* Author: Wynn O'Donnell
*********************************/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff') format('woff');
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
    font-style:normal;

  }
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/roboto-black-webfont.woff') format('woff');
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2');
    font-style:normal;
  }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.woff') format('woff');
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
    font-style:bold;
  }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-italic-webfont.woff') format('woff');
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2');
    font-style:italic;
  }
@font-face {
    font-family: 'Roboto-Condenced';
    src: url('../fonts/roboto-boldcondensed-webfont.woff') format('woff');
    src: url('../fonts/roboto-boldcondensed-webfont.woff2') format('woff2');
    font-style:bold;
  }
body{
  background-color:#191C21;
}

div#menubar{
    text-align:center;
    border-bottom: 5px solid #F4F8FF;
}
.headerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
  }
.clicky{
    font: bold 3rem Roboto;
    color:#F4F8FF;
    padding: .2rem 1rem .2rem 1rem;
    border-left:3px solid white;
}
#check{
  border-left:0 solid white;
}
.clicky:hover{
    color:grey;
}
.intro{
    display: block;
    font: normal 3rem Roboto;
    color:#F4F8FF;
    padding:1rem;
}
div.intro{
  border-bottom:5px solid white;
  background-color: #1A202C;
}
.introdif{
  border-bottom:5px solid white;
  display: block;
  font: normal 3rem Roboto;
  color:#F4F8FF;
  padding:1rem;
}
footer{
  text-align:center;
  color:#F4F8FF;
  padding-bottom:7.5rem;
}
a.bottomtext{
  color:#F4F8FF;;
  padding:0 2rem;
}
p.footy{
  font:normal 2rem Roboto;
}

.bottomtext:hover{
  color:grey;
}
.selfphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
}
p.title{
  font:normal 2rem Roboto;
  padding: .2rem .6rem .2rem .6rem;
}

p.cap{
  font:normal 3rem Roboto;
  color:#F4F8FF;
  padding: .2rem .6rem .2rem .6rem;
}

img.portraits {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
}
p.pre{
  font:normal 2.4rem Roboto;
  padding: .2rem .6rem .2rem .6rem;
  color: #F4F8FF;
}

.experience {
  padding-left:4rem;
  font:normal 2.5rem Roboto;
}

ul.normal {
  list-style-type: none;
}
li{
  font:normal 2.5rem Roboto;
  color:white;
}
.change{
  border-bottom:5px solid white;
  background-color:#1A202C;
}
/*Fix this when fonts are working*/
.bold {
  font:bold 2.5rem Roboto;
}

.menu{
  position:fixed;
  bottom:0;
  width:100%;
  background:#1A202C;
  margin-block-end: 0;
  color:#F4F8FF;
  font:normal 2.5rem Roboto;
  padding: 2rem 0rem;
  border-top:5px solid #F4F8FF;
}

div.photos{
  border-top:5px solid #F4F8FF;
}


