/*********************************
* Description: Primary style sheet
* Author: Wynn O'Donnell
*********************************/
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.woff') format('woff');
    font-style:normal;
  }
@font-face {
    font-family: 'Roboto-Black';
    src: url('font/Roboto-Black.woff') format('woff');
    font-style:normal;
  }
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Bold.woff') format('woff');
    font-style:bold;
  }
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Italic.woff') format('woff');
    font-style:italic;
  }
@font-face {
    font-family: 'Roboto-Condenced';
    src: url('font/Roboto-Condenced-Bold.woff') format('woff');
    font-style:bold;
  }
body{
  background-image: linear-gradient(grey,white);

}

div#menubar{
    text-align:center;
}
.headerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
  }
.clicky{
    font: bold 3rem Roboto-Condenced;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: .2rem .6rem .2rem .6rem;
}
.clicky:hover{
    color:white;
    background-color:grey;
}
.intro{
    display: block;
    font: normal 3rem Roboto;
    color:black;
    padding:1rem;
    margin:.5rem;

}
.line{
    text-align: auto;
    font:bold 2.15rem Roboto;
}