/*********************************
* Description: Primary style sheet
* Author: Wynn O'Donnell
*********************************/
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff') format('woff');
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2');
    font-style:normal;

  }
@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.woff') format('woff');
    font-style:normal;
  }
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff') format('woff');
    font-style:bold;
  }
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.woff') format('woff');
    font-style:italic;
  }
@font-face {
    font-family: 'Roboto-Condenced';
    src: url('fonts/Roboto-Condenced-Bold.woff') format('woff');
    font-style:bold;
  }
body{
  /*background-image: linear-gradient(grey,white);*/
  background-color:white;
}

div#menubar{
    text-align:center;
}
.headerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
  }
.clicky{
    font: bold 3rem Roboto;
    color:black;
    padding: .2rem .6rem .2rem .6rem;
}
.clicky:hover{
    color:grey;
}
.intro{
    display: block;
    font: normal 3rem Roboto;
    color:black;
    padding:1rem;
    margin:.5rem;

}
.line{
    text-align: auto;
    font:bold 2.15rem Roboto;
}
footer{
  text-align:center;
}
a.bottomtext{
  color:black;
  padding:0 2rem;
}
p.footy{
  font:normal 2rem Roboto;
}

.bottomtext:hover{
  color:grey;
}
.selfphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
}
p.title{
  font:normal 2rem Roboto;
  padding: .2rem .6rem .2rem .6rem;
}
.selfphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 58rem;
}
p.cap{
  font:normal 3rem Roboto;
  padding: .2rem .6rem .2rem .6rem;
}

img.portraits {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
}
p.pre{
  font:normal 2.4rem Roboto;
  padding: .2rem .6rem .2rem .6rem;
}

.experience {
  padding-left:4rem;
  font:normal 2.5rem Roboto;
}

ul.normal {
  list-style-type: none;
  font:normal 2.5rem Roboto;
}
.change{
  background-color:#fbfbfb;
}
/*Fix this when fonts are working*/
.bold {
  font-weight: bold;
}
/*Fix this when fonts are working*/


